Makefile
Makefile.in
.libs/
.deps/
ltmain.sh
libtool.m4
aclocal.m4
autom4te.cache
config.log
config.status
libtool
ltsugar.m4
ltoptions.m4
ltversion.m4
configure
lt~obsolete.m4
config.h.in~
config.h
stamp-h1
config.guess
config.sub
core
tags
src/circle
src/distance_transform
src/find
src/hello
src/img
src/imshow
src/io
src/label_components
src/misc
src/plist
src/sedr
src/skl
src/txtsee
src/watershed
*.tar.gz
animal/animal-config.h
